[mcu]
#serial: /dev/serial/by-id/
canbus_uuid: 158bd114740f
#restart_method: command

[mcu ebb36]
canbus_uuid: 22ff9fe0fa1a

[include mainsail.cfg]

[include moonraker_obico_macros.cfg]

[include xyz_axis.cfg]
#[include extruder.cfg] # Removed in favor of EBB36
[include ebb36.cfg]
[include bed.cfg]
[include cartographer.cfg]
#[include fans.cfg]
[include homing-and-gantry-adjustment.cfg]
[include print_start.cfg]
[include macros.cfg]

[input_shaper]
shaper_freq_x: 63.0
shaper_type_x: 2hump_ei
shaper_freq_y: 40.0
shaper_type_y: zv

[printer]
kinematics: corexy
max_accel: 3600             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0
max_velocity: 300

##From EBB36 cfg example:
## PROBE - MOVE THIS TO printer.cfg or your probe offsets will fail!
#[probe]
#pin: ^can0:LIMIT_1
#x_offset: -29.8
#y_offset: -13.5
#z_offset: 2.202
#speed: 5
#samples: 3
#sample_retract_dist: 2
#lift_speed: 5.0
#samples_result: median
#samples_tolerance: 0.02
#samples_tolerance_retries: 5

## EXTRUDER 
[extruder]
step_pin: ebb36:EXT_STEP
dir_pin: ebb36:EXT_DIR
enable_pin: !ebb36:EXT_EN
#rotation_distance: 22.67895 #for 5mm Shaft Driven Bondtech gearsets
rotation_distance: 22.6789511 #26.72306036
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200 #1.8deg Motor
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ebb36:HE0
sensor_pin: ebb36:TH0
sensor_type: Generic 3950 #ATC Semitec 104GT-2  # this is the default for the Revo heater
#pullup_resistor: 2200            # 4700 is default and does not need defining, 2200 is used for the PT1000             
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721


[shaketune]
# result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
# number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
# keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
# show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
# timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
# measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
# max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [scanner]
#*# mode = touch
#*# scanner_touch_threshold = 2250
#*# scanner_touch_speed = 3
#*#
#*# [scanner model default]
#*# model_coef = 1.527685586652308,
#*# 	  1.8451357812630511,
#*# 	  0.7587552419433656,
#*# 	  0.34146990105939634,
#*# 	  0.2923922118520009,
#*# 	  0.3513574895422462,
#*# 	  -0.07428502703971221,
#*# 	  -0.2621427894297426,
#*# 	  0.14600618148531472,
#*# 	  0.17668223592224558
#*# model_domain = 3.172007955526526e-07,3.298550274770066e-07
#*# model_range = 0.200000,5.100000
#*# model_temp = 38.384201
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.0.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 13.726
#*# pid_ki = 0.511
#*# pid_kd = 92.139
