#####################################################################
# Voron 2.4 350 - pre-Monolith configuration
#
# Hardware:
#   - BTT Octopus Pro
#   - BTT EBB36 v1.2 over CAN
#   - Stealthburner
#   - Formbot all-metal V6-style hotend
#   - Cartographer V3 / Survey Touch
#
# Printer-specific Klipper configuration is intentionally kept together
# here. Mainsail and Obico vendor/client macros remain external.
#####################################################################

[include mainsail.cfg]
[include moonraker_obico_macros.cfg]


#####################################################################
# MCUs
#####################################################################

[mcu]
canbus_uuid: 158bd114740f

[mcu ebb36]
canbus_uuid: 22ff9fe0fa1a

[mcu scanner]
canbus_uuid: 3db2d33acb14


#####################################################################
# Printer limits
#
# Conservative quality-first limits for the stock 350 mm gantry.
# Actual print speeds/accelerations should still be set in OrcaSlicer.
#####################################################################

[printer]
kinematics: corexy
max_velocity: 250
max_accel: 3000
max_z_velocity: 15
max_z_accel: 300
square_corner_velocity: 5.0


#####################################################################
# X / Y steppers
#####################################################################

[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: ebb36:PB6
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: PG9
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 50
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# Z steppers
#####################################################################

[stepper_z]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 310
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 0

[tmc2209 stepper_z]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PE1
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z3]
step_pin: PE6
dir_pin: !PA14
enable_pin: !PE0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PD3
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
# EBB36 v1.2 aliases / toolhead I/O
#####################################################################

[board_pins EBB36_G0B1_v1.2]
mcu: ebb36
aliases:
aliases_step:
    EXT_EN=PD2,EXT_STEP=PD0,EXT_DIR=PD1,EXT_UART=PA15
aliases_limitsw:
    LIMIT_1=PB7,LIMIT_2=PB5,LIMIT_3=PB6
aliases_bltouch:
    PROBE_1=PB9,PROBE_2=PB8
aliases_fans:
    FAN0=PA1,FAN1=PA0
aliases_thermistors:
    TH0=PA3,PT100_CS=PA4,PT100_SCLK=PA5,PT100_MISO=PA6,PT100_MOSI=PA7
aliases_heaters:
    HE0=PB13
aliases_rgb:
    RGBLED=PD3
aliases_adxl:
    ADXL_CS=PB12,ADXL_SCLK=PB10,ADXL_MISO=PB2,ADXL_MOSI=PB11
aliases_i2c:
    AUX0=PB3,AUX1=PB4

[temperature_sensor EBB36]
sensor_type: temperature_mcu
sensor_mcu: ebb36


#####################################################################
# Extruder / hotend
#
# max_temp deliberately remains 270 C until the exact heater/thermistor
# ratings are verified. Do not raise this solely for a filament profile.
#####################################################################

[extruder]
step_pin: ebb36:EXT_STEP
dir_pin: ebb36:EXT_DIR
enable_pin: !ebb36:EXT_EN
rotation_distance: 22.6789511
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ebb36:HE0
sensor_pin: ebb36:TH0
sensor_type: Generic 3950
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170

[tmc2209 extruder]
uart_pin: ebb36:EXT_UART
stealthchop_threshold: 0
run_current: 0.30


#####################################################################
# Fans
#####################################################################

[heater_fan hotend_fan]
pin: ebb36:FAN0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[fan]
pin: ebb36:FAN1
kick_start_time: 0.5
cycle_time: 0.01
off_below: 0.10


#####################################################################
# Bed heater
#####################################################################

[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 0.6
min_temp: 0
max_temp: 120
control: pid
pid_kp: 36.333
pid_ki: 1.106
pid_kd: 298.388


#####################################################################
# Cartographer V3 / Survey Touch
#
# Keep the existing scanner-plugin syntax because this is the installed,
# working Cartographer setup. Revisit migration to the current Cartographer
# plugin separately so probing changes are not mixed with a plugin upgrade.
#####################################################################

[scanner]
mcu: scanner
x_offset: 0
y_offset: 15
backlash_comp: 0.00845
sensor: cartographer
sensor_alt: carto
mesh_runs: 2

# Leave the existing Touch Z offset in place until Touch itself is tested.
# If first-layer Z remains too low, run CARTOGRAPHER_TOUCH_ACCURACY and
# recalibrate Survey Touch before compensating with an arbitrary offset.
scanner_touch_z_offset: 0.1

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105

[safe_z_home]
home_xy_position: 175,175
z_hop: 10

[bed_mesh]
zero_reference_position: 175,175
speed: 200
horizontal_move_z: 5
# Previous limits (35,6 -> 240,198) covered only part of the 350 mm bed.
# Retain a 20 mm edge margin while scanning nearly the full bed.
mesh_min: 20,20
mesh_max: 330,330
probe_count: 30,30
algorithm: bicubic

[quad_gantry_level]
gantry_corners:
    -60,-10
    410,420
points:
    50,25
    50,275
    300,275
    300,25
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10


#####################################################################
# Resonance measurement
#
# The previous manually-entered input-shaper values have been removed.
# Re-run resonance testing / Shake&Tune before enabling input shaping again.
#####################################################################

[adxl345]
cs_pin: scanner:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    175,175,20

[shaketune]


#####################################################################
# Lighting
#####################################################################

[output_pin caselight]
pin: PB0
pwm: true
shutdown_value: 0
value: 1
cycle_time: 0.01


#####################################################################
# General features
#####################################################################

[idle_timeout]
timeout: 1800

[exclude_object]


#####################################################################
# Utility macros
#####################################################################

[gcode_macro PARK]
description: Park toolhead near the rear center
gcode:
    {% set th = printer.toolhead %}
    G90
    G0 X{th.axis_maximum.x / 2} Y{th.axis_maximum.y - 5} F9000

[gcode_macro G32]
description: Home and quad-gantry-level
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28 Z
    G0 X175 Y175 Z20 F9000
    RESTORE_GCODE_STATE NAME=STATE_G32 MOVE=0


#####################################################################
# PRINT_START / PRINT_END
#
# OrcaSlicer start G-code:
#   PRINT_START BED=[bed_temperature_initial_layer_single] EXTRUDER=[nozzle_temperature_initial_layer]
#
# Optional:
#   SOAK=<minutes>
#
# If SOAK is omitted:
#   bed >= 105 C : 15 min
#   bed >=  95 C : 10 min
#   otherwise     :  5 min
#
# Sequence:
#   home -> heat/soak -> thermal Z re-home -> QGL -> Z re-home
#   -> fresh full-bed Cartographer mesh -> Survey Touch -> final heat -> purge
#####################################################################

[gcode_macro PRINT_START]
description: Quality-first print start for OrcaSlicer and Cartographer Touch
gcode:
    {% set target_bed = params.BED|float %}
    {% set target_extruder = params.EXTRUDER|float %}
    {% if params.SOAK is defined %}
        {% set soak_minutes = params.SOAK|int %}
    {% elif target_bed >= 105 %}
        {% set soak_minutes = 15 %}
    {% elif target_bed >= 95 %}
        {% set soak_minutes = 10 %}
    {% else %}
        {% set soak_minutes = 5 %}
    {% endif %}

    {% set x_center = printer.toolhead.axis_maximum.x|float / 2 %}
    {% set y_center = printer.toolhead.axis_maximum.y|float / 2 %}

    SET_GCODE_OFFSET Z=0
    BED_MESH_CLEAR
    G90
    M107

    SET_DISPLAY_TEXT MSG="Homing"
    G28

    # Heat the bed fully before precision levelling. Keep the nozzle warm
    # enough to soften residue without holding it at Touch temperature for
    # the entire chamber heat soak.
    SET_DISPLAY_TEXT MSG="Bed {target_bed|int}C"
    M140 S{target_bed}
    M104 S140
    G0 X{x_center} Y{y_center} Z30 F9000
    M190 S{target_bed}

    {% if soak_minutes > 0 %}
        SET_DISPLAY_TEXT MSG="Heat soak {soak_minutes} min"
        G4 P{soak_minutes * 60000}
    {% endif %}

    # Re-establish Z after thermal expansion, then level the gantry.
    SET_DISPLAY_TEXT MSG="Thermal Z home"
    G28 Z

    SET_DISPLAY_TEXT MSG="QGL"
    QUAD_GANTRY_LEVEL
    G28 Z

    # The installed Cartographer setup already uses this Survey Touch
    # workflow. Touch must be performed with the nozzle at <=150 C.
    SET_DISPLAY_TEXT MSG="Nozzle 150C"
    M109 S150

    SET_DISPLAY_TEXT MSG="Bed mesh"
    BED_MESH_CALIBRATE

    SET_DISPLAY_TEXT MSG="Survey Touch"
    CARTOGRAPHER_TOUCH

    SET_DISPLAY_TEXT MSG="Hotend {target_extruder|int}C"
    G0 X{x_center} Y{y_center} Z15 F9000
    M109 S{target_extruder}

    # Simple purge line along the front of the bed. Preserve the slicer's
    # extrusion mode so this works with either absolute or relative E.
    SET_DISPLAY_TEXT MSG="Purging"
    SAVE_GCODE_STATE NAME=STATE_PURGE
    G90
    M83
    G0 X60 Y5 Z0.4 F10000
    G1 X160 E18 F1000
    G1 X170 F6000
    G92 E0
    RESTORE_GCODE_STATE NAME=STATE_PURGE MOVE=0

    SET_DISPLAY_TEXT MSG="Printing"

[gcode_macro PRINT_END]
description: Safe print end; cool the bed with the part still attached
gcode:
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    M400

    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %}
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %}
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %}

    {% if printer.extruder.can_extrude %}
        M83
        G1 E-2.0 F1800
    {% endif %}

    G90
    G0 X{x_safe} Y{y_safe} Z{z_safe} F12000
    G0 X{th.axis_maximum.x / 2} Y{th.axis_maximum.y - 5} F9000

    TURN_OFF_HEATERS
    M107
    BED_MESH_CLEAR
    SET_DISPLAY_TEXT MSG="Print complete"

    RESTORE_GCODE_STATE NAME=STATE_PRINT_END MOVE=0


#####################################################################
# Orca / Prusa M486 compatibility
#####################################################################

[gcode_macro M486]
gcode:
    {% if 'exclude_object' not in printer %}
        {action_raise_error("[exclude_object] is not enabled")}
    {% endif %}

    {% if 'T' in params %}
        EXCLUDE_OBJECT RESET=1
        {% for i in range(params.T|int) %}
            EXCLUDE_OBJECT_DEFINE NAME={i}
        {% endfor %}
    {% endif %}

    {% if 'C' in params %}
        EXCLUDE_OBJECT CURRENT=1
    {% endif %}

    {% if 'P' in params %}
        EXCLUDE_OBJECT NAME={params.P}
    {% endif %}

    {% if 'S' in params %}
        {% if params.S == '-1' %}
            {% if printer.exclude_object.current_object %}
                EXCLUDE_OBJECT_END NAME={printer.exclude_object.current_object}
            {% endif %}
        {% else %}
            EXCLUDE_OBJECT_START NAME={params.S}
        {% endif %}
    {% endif %}

    {% if 'U' in params %}
        EXCLUDE_OBJECT RESET=1 NAME={params.U}
    {% endif %}


#####################################################################
# SAVE_CONFIG
#
# Auto-generated values retained from the existing working configuration.
#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [scanner]
#*# mode = touch
#*# scanner_touch_threshold = 2250
#*# scanner_touch_speed = 3
#*#
#*# [scanner model default]
#*# model_coef = 1.527685586652308,
#*#       1.8451357812630511,
#*#       0.7587552419433656,
#*#       0.34146990105939634,
#*#       0.2923922118520009,
#*#       0.3513574895422462,
#*#       -0.07428502703971221,
#*#       -0.2621427894297426,
#*#       0.14600618148531472,
#*#       0.17668223592224558
#*# model_domain = 3.172007955526526e-07,3.298550274770066e-07
#*# model_range = 0.200000,5.100000
#*# model_temp = 38.384201
#*# model_offset = 0.00000
#*# model_mode = touch
#*# model_fw_version = CARTOGRAPHER 5.0.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 13.726
#*# pid_ki = 0.511
#*# pid_kd = 92.139
